body{
    background-color: white;
}

#button_show_termine_form {
   
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-align: center;
    margin-top: 20px; 
}

/*---------------------------------------- Appointment Liste -------------------------------------------------- */
#appointment_container{
    margin: 2%; 
    width: auto; 
    display: absolute;
}

.appointment_div {
  margin: 2%; 
  margin-left: 15%; 
  background-color:rgb(53, 57, 61);
  color: white;
  border-radius: 10px; 
  display: absolute; 
  width: 70%; 
  padding-bottom: 1%;
}

.appointment_name {
    font-size: 20pt; 
    text-align: left; 
    padding-left: 2%; 
    padding-top: 1%; 
}

.appointement_expDate {
    text-align: right;
    padding-right: 2%; 
    padding-bottom: 1%;
}

.appointment_descriptions {
    background-color: rgb(201, 202, 216);
    color: black; 
    border-radius: 10px; 
    border: solid, thick, black; 
    display:relative; 
    width: 98%;
    margin: 1%; 
    padding: 1%;
}
.appointment_author {
    display:inline-flex;
    width: 40%;
}

.appointment_ort { 
    display:inline-flex;
    width: 30%;  
}

.appointment_duration {
    display:inline-flex;
    width: 30%;   
}

/* .appointment_description { }*/


.appointment_options {
    border-radius: 10px; 
    width: 100%;
    padding: 1%;
    
}

.option_unit{
    float: left; 
    background-color:rgb(220, 221, 236);
    width: auto; 
    margin: 0.1%; 
    border-radius: 3px;
    padding: 1%;
    text-align: center;
}

.checkbox {
    margin: 2%;
}

.option_button {
    width: fit-content;
}

/* -------------------------------------- Comentare ---------------------------------------------------*/

.comment_toggle {
    color: blue; 
    text-decoration: underline;
}

.comment_author {
    text-align: left; 
    position: left;
    font-size: 10pt;  
}

.comment_date{
    text-align: right; 
    font-size: 10pt; 
    padding-bottom: 0;
}
 
.comment_text {
    background-color: rgb(236, 237, 247);
    font-size: 13pt; 
    border-radius: 5px; 
    padding: 1em; 
    padding-bottom: 0;
}

.comment_form {
    display: inline-block; 
}

.comment_username_input {
    width: 30%;
    padding: 0.5%, 1%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.comment_textarea {
    width: 100%;
    height: 100px;
    padding: 0.5%, 1%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

/*---------------------------------------- Create Appointment -------------------------------------------------- */
#redburron{
    margin-left:43.38%;
    margin-top: 3%;
}
.movediv{
    width: 30%; 
    margin-top: 2%;
     margin-right: 10%;
     margin-left: 10%;
     float: left;
     
}

/* h3{
    padding-bottom: 5%;
} */

.resize {
    max-width:100%;
    height: auto;
}
.newclass{  
    width: 30%; 
    margin-top:10%;
    margin-right: 10%;
    margin-left: 10%;
    float: right;
}
    